<li class="list-item">
	{{burger_name}}

	<button class="change-devour btn btn-primary btn-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}EAT UP!!{{else}}Make Me Another!!{{/if}}
	</button>
</li>